# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://your-project-ref.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key-here

# Admin Password (untuk /admin page)
ADMIN_PASSWORD=change-this-password

# Wedding Details
WEDDING_DATE=2026-06-20
WEDDING_GROOM=Ega Lana Wibowo
WEDDING_BRIDE=Karunia Riski Apri Hesi
